* { margin:0; padding: 0; list-style: none; }


#page { margin: 0 auto; width: 800px; padding:40px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #777; box-shadow: #999 1px 1px 3px; background: #000;}}

